<% provide :title, @classroom.class_code %>
<div class="row">
	<div class="col-sm-3">
		<h1 class="classes"><%= t ".title" %> <%= @classroom.class_code %></h1>
	</div>

	<% if @classroom.users.include? current_user %>
	<div class="col-sm-offset-5 col-sm-1">
		<h1 class="classes1" >hello:</h1>
	</div>

	<div class="col-sm-3">
 	 	<section class="user_info">
  	  <%= render "shared/user_info" %>
 	 	</section>
  </div>
</div>
  <section class="post_form">
    <%= render "shared/post_form" %>
  </section>
  <%= render "classrooms/posts" %>
<% else %>
  <%= render "classrooms/introduction" %>
<% end %>
<%= render "join_out_form" %>


